[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pymongo = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
requests = "*"
django-cors-headers = "*"
schedule = "*"
python-crontab = "*"

[requires]
python_version = "3.7"
